target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
*.log

# Python
__pycache__/
*.pyc
venv/
.pytest_cache/

# Airflow
airflow/logs/

# Data outputs
data/bronze/**/*
data/silver/**/*
data/gold/**/*
data/raw/**/* 
